<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TaskMaster</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <div class="row">
        <i id="add-button" class="material-icons">add_box</i>
        <form id="task-form" class="hidden">
            <div class="col s4">
                <a id="color-button" class="dropdown-trigger btn-flat" href="#" data-target="color-dropdown"><i class="material-icons right">arrow_drop_down</i>Color</a>
                <ul id="color-dropdown" class="dropdown-content">
                    <li>
                        <a class="purple-text color-option" href="#!">purple</a>
                    </li>
                    <li>
                        <a class="blue-text color-option" href="#!">blue</a>
                    </li>
                    <li>
                        <a class="green-text color-option" href="#!">green</a>
                    </li>
                    <li>
                        <a class="yellow-text color-option" href="#!">yellow</a>
                    </li>
                    <li>
                        <a class="orange-text color-option" href="#!">orange</a>
                    </li>
                    <li>
                        <a class="red-text color-option" href="#!">red</a>
                    </li>
                    <li>
                        <a class="pink-text color-option" href="#!">pink</a>
                    </li>
                </ul>
            </div>
            <div class="input-field col s8">
                <input placeholder="task to get done" id="task-input" type="text">
            </div>
        </form>
    </div>
    {{{ body }}}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="/assets/js/app.js"></script>
</body>

</html>