<div class="row">
    <div class="col s12 m4">
        <h2 class="grey-text text-darken-0">To Do</h2>
        {{#each tasks}}
            {{#if todo}}
                {{> task-card lighten=2 first=1 last=0}}
            {{/if}}
        {{/each}}
    </div>
    <div class="col s12 m4">
        <h2 class="grey-text text-darken-2">Doing</h2>
        {{#each tasks}}
            {{#if doing}}
                {{> task-card lighten=1 first=0 last=0}}
            {{/if}}
        {{/each}}
    </div>
    <div class="col s12 m4">
        <h2 class="grey-text text-darken-4">Done</h2>
        {{#each tasks}}
            {{#if done}}
                {{> task-card lighten=0 first=0 last=1}}
            {{/if}}
        {{/each}}
    </div>
</div>